certifi>=2017.4.17
pycparser==2.18
idna>=2.6
asn1crypto>=0.21.0
pytz==2018.3
aniso8601>=0.82
jsonschema
PyMongo>=2.5
itsdangerous>=0.21
click>=2.0
Werkzeug>=0.7
Jinja2>=2.4
ply
decorator
functools32
MarkupSafe>=0.23
simplejson>=3.13.2
cffi>=1.7
enum34==1.1.6
ipaddress>=1.0.19
cryptography>=2.1.4
Flask-restplus>=0.10.1
Flask-PyMongo>=0.5.1
Flask-RESTful==0.3.6
Flask>=0.12.2
six>=1.5.2
jsonpath-ng==1.4.3
